.signup-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    /* border: 5px solid green; */
}

h1 {
    display: flex;
    justify-content: center;
    /* border: 3px solid orange; */
}

.signup-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
}

.label {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* border: 3px solid black; */
}

.input {
    display: flex;
    justify-content: center;
    width: 80%;
    /* border: 2px solid red; */
}

#user-image{
    display: flex;
    border: 2px solid orange;
}
